
<head>
  <link type="text/css" href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link type="text/css" href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
  <link type="text/css" rel="stylesheet" href="/css/home.css">
  <script type="text/javascript" src="/js/jquery-1.10.0.min.js"></script>
  <script type="text/javascript" src="/js/home.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <style>
  </style>
</head>


{% block main_content %}
{% endblock %}

